@charset"utf-8";
main{
    box-shadow:
    0.8px 0.8px 6.2px rgba(0, 0, 0, 0.07),
    1.9px 1.9px 14.1px rgba(0, 0, 0, 0.053),
    3.2px 3.2px 24.5px rgba(0, 0, 0, 0.046),
    5.1px 5.1px 38.9px rgba(0, 0, 0, 0.04),
    7.9px 7.9px 60.1px rgba(0, 0, 0, 0.035),
    12.4px 12.4px 93.8px rgba(0, 0, 0, 0.03),
    20.5px 20.5px 155.7px rgba(0, 0, 0, 0.024),
    41px 41px 311px rgba(0, 0, 0, 0.017)
  ;  
    width: 720px;
    margin: 40px auto 80px;
    overflow: hidden;
}
main form{/*360*/
    float: left;
    width: 280px;
    text-align: left;
    padding: 40px;
    font-size: 20px;
}
main form h3{
    font-size: 26px;
    font-family: 'GmarketSans',sans-serif;
    font-weight: 500;
    margin-top: 0;
}
main form label{
    display: block;
}
main form input{
    outline: none;
    border: 1px solid #999;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    color: #0f2c67;
    margin-bottom: 18px;
}
main form input:focus{
    background-color: #ddd;
}
main form input[type="checkbox"]{
    width: auto;/* 초기화 */
    margin-right: 6px;
}
main form button{
    width: 100%;
    border: none;
    background-color: #0b4619;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
}
main form button:hover{
    background-color: #cd1818;
}
main form p{
    text-align: right;
    font-size: 14px;
}
main form p a{
    display: block;
    text-decoration: underline;
}
main img{
    float: left;
}